*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-image: url(https://mrwallpaper.com/images/hd/metal-gear-rex-metal-gear-solid-8w3bfbgmma8aeg4h.jpg);
    background-size: cover;
    background-repeat: repeat;
}

.MGS-container{
    width: 80vw;
    /* border: 2px solid black; */
    margin: 20px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr); 
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

img{
   width: 128px;
}

.item
{
    border: 5px solid rgb(10, 10, 10);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-between; */
    gap: 20px;
}

#BigBoss .details, #SolidSnake .details{
    display: flex;
    align-items: center;
    gap: 50px;
}

.Name{
    font-size: 2rem;
    font-weight: 700;
}

.Title{
    font-size: 1.5rem;
    font-weight: 500;
}

.details{
    text-align: center;
}

.desc{
    text-align: justify;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#BigBoss{
    background-color: rgb(75, 73, 73);
    color: white;
    grid-column: 1/3;
    grid-row: 1/2;
}


#Boss{
    background-color: rgb(107, 114, 74);
    color: white;
    
}


#VenomSnake{
    background-color: rgb(99, 96, 96);
    color: white;
}

#SolidSnake{
    background-color: rgb(28, 32, 20);
    color: white;
    grid-column: 2/4;
    grid-row: 2/3;
}


#Wifey{
    background-color: rgb(36, 34, 34);
    color: white;
    grid-column: 4/5;
    grid-row: 1/3;
}

.item:hover{
    background-image: url(https://i.kym-cdn.com/photos/images/newsfeed/001/001/776/e29.gif);
    background-size: cover ;
    background-repeat: no-repeat;

   
}

@media(max-width:1000px){
    .MGS-container{
        grid-template-columns: 1fr;
    }
    #Wifey{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #SolidSnake{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #BigBoss{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #Boss{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #VenomSnake{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}

@media(max-width:768px){
    .MGS-container{
        grid-template-columns: 1fr;
    }
    #Wifey{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #SolidSnake{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #BigBoss{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #Boss{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #VenomSnake{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
}
